{% extends '_base.html' %}

{% load static i18n %}
{% load django_htmx %}
{% block title %}{% trans 'Profile' %}{% endblock %}


{% block content %}
    <h1> Connection status <{{ status_tasks }}></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Test title</th>
            <th scope="col">Address</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody hx-get="{% url 'status_table' %}" hx-trigger="every 3s">
            {% include "system_statuses/includes/tbody.html" %}
        </tbody>
    </table>
{% endblock content %}