{% extends '_base.html' %}

{% load static i18n %}
{% load django_htmx %}
{% block title %}{% trans 'Profile' %}{% endblock %}


{% block content %}
    {% with request.user as user %}
        <div class="mt-5 row d-flex justify-content-center align-items-center h-100">
            <div class="" style="text-align: center; font-weight: bold; font-size: x-large">
                {% trans 'Hello' %}, {% if user.first_name %}
                {{ user.first_name |title }}
            {% else %}
                {{ user |title }}
            {% endif %} !
            </div>
            <div class="" style="text-align: center; font-weight: bold; font-size: x-large">
                {% trans 'Your current IP' %}: <span class="text-bg-success"> {{ current_ip }}</span>
            </div>
            <div class="mt-5" style="text-align: -webkit-center;">
                <form method="post" style="width: 20rem">
                    {% csrf_token %}

                    <div class="input-group mb-4">
                        <div class="input-group-text">
                            {{ form.is_active }}
                        </div>
                        {{ form.ipaddress }}
                        <div style="margin-left: 10px;" hx-get="{% url 'get_status_ip' pk=object.pk %}"
                             hx-trigger="every 5s">
                            {% include 'accounts/includes/rounded_bage.html' %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %} </button>
                </form>
            </div>
            {% if request.user.is_staff %}

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">IP Table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Logs
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {% include 'accounts/includes/users_ip_table.html' %}
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <button class="btn btn-sm btn-success mt-3" type="button" hx-get="{% url 'get_logs' count=50 %}"
                                hx-target="#log">look last 50 records
                        </button>
                        <div class="log mt-3" id="log">
                            {% include 'accounts/includes/logs.html' %}
                        </div>

                    </div>
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endblock content %}